name: Optimize Images
on:
  push:
    branches:
      - main
    paths:
      - 'img/**'

jobs:
  optimize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Optimize Images
        uses: LRECO/action-optimize-images@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Calidad alta para mantener el detalle fino
          jpegQuality: '90'
          pngQuality: '90'
          webpQuality: '90'
          maxWidth: 300 #Redimensionado de las im치genes
          # Si la imagen es m치s peque침a de 600, no la estirar치 (para no pixelar)
