name: Optimize Images
on:
  workflow_dispatch: # permite ejecutarlo manualmente desde la pestaña "Actions"
  push:
    branches:
      - main
    paths:
      - 'img/**'

jobs:
  optimize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Optimize Images
        uses: calibra-ai/image-actions@main # Una versión más moderna y estable
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: false
          maxWidth: 600
          # Convertir a WebP para que vaya más rápido
          webpQuality: '80'
