name: Optimize Images
on:
  push:
    paths:
      - 'img/**' # Solo se activa las imagenes se suben a la carpeta img
jobs:
  build:
    name: calibra-image-optimization
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Compress and Resize Images
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          # Configuración Premium
          compressOnly: false
          jpegQuality: '75'     # Calidad alta para evitar píxeles
          pngQuality: '75'
          webpQuality: '75'
          # Redimensión a 720px para pantallas 4K/Retina
          maxWidth: 600
          maxHeight: 600
          ignorePaths: 'node_modules/**'
